<div id="disquss_thread">
    <script src="https://giscus.app/client.js"  
          data-repo="{{ .Site.Params.Comments.Giscus.Repo }}"
          data-repo-id="{{ .Site.Params.Comments.Giscus.RepoId }}"
          data-category="{{ .Site.Params.Comments.Giscus.Category }}"
          data-category-id="{{ .Site.Params.Comments.Giscus.CategoryId }}"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="light"
          data-lang="zh-CN"
          crossorigin="anonymous"  
          async>  
    </script>  
  </div>
  